# --- Unreal Engine ---
Source/ThirdParty/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# --- IDEs ---
.idea/
.vs/
.vscode/
.claude/

# --- Unreal Local CI/CD Tool Specific ---
# Ignore the generated template project
/TemplateProject/

# Ignore the output directories and generated host projects
/Builds_*/
/Build*/
/ExampleProjectBuild_*/
/Logs/
/.tmp/
/.host-projects/

# Ignore user configuration files, but not the example
config*.json
!config.example.json

# Ignore executables and archives
*.exe
*.zip
